@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 80%;
  margin: 0 auto;
}
.my-button {
  width: 120px;
  /* Thay đổi giá trị của width tùy theo nhu cầu */
  height: 40px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 16px;
}
.ant-tabs-tab {
  color: white !important;
}
.ant-tabs-tab:hover {
  color: #1677ff !important;
}
.ant-tabs-tab-active {
  color: #1677ff !important;
  transition: all 0.3s;
}
.ant-progress-text {
  font-size: 1rem;
  color: white !important;
}
